*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin: 50px auto;
    justify-content: center;
    border-radius: 25px;
}

.box{
    width: 100px;
    height: 100px;
    margin: 5px;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    display: flex;
}

.box-blue{
    background-color: #1389b2 ;
    
}

.box-red{
    background-color: rgba(255, 0, 0, 0.623);
    
}

.box-yellow{
    background-color: yellow;

}

.box-purple{
    background-color: purple;

}

body{
    background-color: black;
}